
# file to ignore on github

# ubuntu temp file
*~

# everithing inside "_site" directory
_site/**

# that's better starting writing our own post for testing purpose
#_posts/**
#!_posts/2014-04-18-post-di-esempio.md

# jekyll is always regenerating this folder content except "index.html"
categories/**
!categories/index.html

# jekyll is always regenerating this folder content except "index.html"
tags/**
!tags/index.html

# ignoring caching files

.sass-cache/**