---
layout: default
title: Blog&stuff
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
      	<p>
            <span class="meta day">{{ post.date | date: "%d" }}</span>
            <span class="meta month">{{ post.date | date: "%B" }}</span>
            <span class="meta year">{{ post.date | date: "%Y" }}</span>
	       	&raquo; <a href="{{ post.url }}">{{ post.title }}</a>
	      </p>
	       <p class="post-excerpt">{{ post.excerpt | strip_html }}&hellip; (<a href="{{ post.url }}">Read More</a>)</p>
       </li>
    {% endfor %}
  </ul>
</div>

{% include paginator.html %}