<div class="main">
    <ul class="cbp_tmtimeline">
    {% for post in paginator.posts %}
		<li>
	        <time class="cbp_tmtime" datetime="2013-04-10 18:30">
                <span>{{ post.date | date: "%Y" }}</span>
                <span>{{ post.date | date: "%d %B" }}</span>
            </time>
	        <div class="cbp_tmicon cbp_tmicon-phone"></div>
	        <div class="cbp_tmlabel">
		        <h2><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></h2>
		        <p class="post-excerpt">{{ post.excerpt | strip_html }}&hellip; (<a href="{{ post.url }}">Read More</a>)</p>
	        </div>
        </li>
    {% endfor %}
    </ul>
</div>

