
    {% for post in paginator.posts %}
		<li>
            {% if post.author == "fenix" %}
                <div class="icon-fra"></div>
            {% elsif post.author == "alessandra" %}
                <div class="icon-ale"></div>
            {% else %}
                <div class="icon-gio"></div>
            {% endif %}
	        <time datetime="{{post.date}}">
                <span>{{ post.date | date: "%d %B" }}</span>
                <span>{{ post.date | date: "%Y" }}</span>
            </time>
	        <div>
		        <h2><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></h2>
		        <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 280 }}&hellip; (<a href="{{ post.url }}">Read More</a>)</p>
	        </div>
        </li>
    {% endfor %}
   

