@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-1e55sq');
	src:url('../fonts/icomoon.eot?#iefix-1e55sq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-1e55sq') format('woff'),
		url('../fonts/icomoon.ttf?-1e55sq') format('truetype'),
		url('../fonts/icomoon.svg?-1e55sq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-gio:before {
	content: "\e600";
}
.icon-fra:before {
	content: "\e601";
}
.icon-ale:before {
	content: "\e602";
}

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 


/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	margin: 0px 0px 0px 15%;
	/*padding-right: 100px;*/
	position: absolute;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime {
	margin: 0px 0px 0px 50%;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
	margin: 80px 0 0 0;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #ff9c1e;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #ffcc0f;
}

.div_post {
	position: relative;
}

.post-excerpt{
	margin:0 3px 20px 3px;
	height: 155px;
	overflow: hidden;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	/**content:url("../images/bubbledx.png");**/
	/**background-image: url(../images/bubbledx.png);**/
	margin: 0 0 25px 53%;
	padding: 1.5em 2.5em 2em 3.2em;
	/*background: #ff9c1e;*/
	color: #000000;
	text-align: justify;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	/*border-radius: 5px;*/
	background-image: url(../images/bubbledx1.png);
	background-size: 100% 100%;
	background-position: top 5px left 6px;
	background-repeat: no-repeat;
	/*height:290px;*/
}

/** odd children **/
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	margin:0 53% 25px 0;
	padding: 1.5em 3.5em 3em 2.5em;
	/*background: #ffcc0f;*/
	background-image: url(../images/bubblesx1.png);
	/*background-size: 520px 340px;
	background-size: 100% 100%;*/
	background-position: top 5px left -6px;
}

/** triangle's color **/
/*.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #ffcc0f;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}*/

/* The triangle */
/*.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #ff9c1e;
	border-width: 10px;
	top: 10px;
}
*/

/* The line 
.cbp_tmtimeline:before {
	content: url(../images/line.png) repeat-y;
	position: absolute;
	top: 40px;
	bottom: 0;
	/**background: #ff5e00;**/
	/*left: 50%;
	margin-left: -20px;
}*/

.cbp_tmtimeline {
	background: url(../images/line.png) repeat-y;
	background-position: center;
	/**background: #ff5e00;**/
	width: 74%;
	left: 13%;
	position: absolute;
	margin-left: -20px;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.8em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #ff5e00;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #000000;
	text-align: center;
	left: 50%;
	top: 0;
	margin: 0 0 0 -25px;
}


/* Example Media Queries */
@media screen and (max-width: 1046px) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}


@media screen and (max-width: 880px){

	.cbp_tmtimeline > li .cbp_tmlabel {
		background-image: url(../images/bubblesx2.png);
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
		background-image: url(../images/bubblesx2.png);
	}

}

@media screen and (max-width: 755px) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
		margin: 0px 0px 0px 0px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime {
		margin: 0px 0px 0px 0px;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 2em 3.5em 0em 3.5em;		
		/*background-image: url(../images/bubblesx2.png);*/
		background-position: top 5px left -6px;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
		margin: 0 0 30px 0;
		/*padding: 1em;*/
		/*background-image: url(../images/bubblesx2.png);*/
		padding: 2em 3.5em 0em 3.5em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #ff9c1e;
		top: -20px;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}

/*Custom*/

/*Without this, the icon are not showed */
.cbp_tmtimeline > li{
    position: relative;
}

/* arancio : #ff5e00;
	rosso: #cc0000;
*/
