@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-1e55sq');
	src:url('../fonts/icomoon.eot?#iefix-1e55sq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-1e55sq') format('woff'),
		url('../fonts/icomoon.ttf?-1e55sq') format('truetype'),
		url('../fonts/icomoon.svg?-1e55sq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gio, .icon-fra, .icon-ale {
	float:left;
	margin: 3px;
}

.icon-gio:before {
	content: "\e600";
}
.icon-fra:before {
	content: "\e601";
}
.icon-ale:before {
	content: "\e602";
}

.div_post {
	position: relative;
}

.post-excerpt{
	margin:0 3px 20px 3px;
	height: 85px;
	overflow: hidden;
}
