/* Default template Style*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

#container{
    position: relative;
    padding: 0 1.875em 3.125em;
}

#home {
	width: 80%;
	max-width: 69em;
	margin: 0 auto;
	padding-right: 1.875em;
    float: left;
}

#menu{
    width: 20%;
    margin: 0 auto;
    float: right;
}

img{
    width: 100%;
}

.clear{
    clear: both;
}

/*	COLUMN WIDTH ON DISPLAYS <768px 
	You might need to play with media queries here to suite your design. */
@media ( max-width : 768px ) {
    #menu{
        float:left;
        width: 100%;
    }

    #home{
        width: 100%;
        padding: 0;
    }
}

