/* Default template Style*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    /*color: #47a3da;*/
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	/*color: #f0f0f0;*/
    color:#969696;
}

#container{
    position: relative;
    padding: 0 1.875em 3.125em;
}

#home {
	width: 80%;
	max-width: 69em;
	margin: 0 auto;
	padding-right: 1.875em;
}


/*img{
    width: 100%;
}*/

.clear{
    clear: both;
}

.cover{
    width:40%;
    height:60%;
    margin:8% 30% 5% 30%;
}

.colordiv{
    top:50%;
    width:100%;
    height: 500px;
    /*background-color: black;*/
    margin-bottom: 10%
}

#menu{
    position: fixed;
    top:0;
    width:100%;
    height: 53px;
    background-color: white;
    z-index: 10;
}


nav{
    width:500px;
    margin: 0 0 0 3%;
}

.menu_item{
    padding:0px 4% 0px 4%;
    text-decoration: none;
    line-height: 3em;
    font-size: 1em;

}


#menu img{
    width:150px;
    height:54px;
    margin:0px 3%;
    float:right;
}


.menu_item > a {
  position: relative;
}


.menu_item > a:hover{
    color:#000;
}

.menu_item > a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#current_page::after{
    text-decoration: 1px solid black;
    padding-bottom: 5px;
}

.menu_item > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.current_page {
    text-decoration: 1px solid black;

}

.no-display {
  display:none;
}


.article{
    position:absolute;
    top:80px;
}


/*	COLUMN WIDTH ON DISPLAYS <768px 
	You might need to play with media queries here to suite your design. */
@media ( max-width : 768px ) {

    #home{
        width: 100%;
        padding: 0;
    }
}


@media screen and (max-width: 755px) {   

    nav{
        float: right;
    }

    #menu img{
        display:block;
    }

    .menu_item{
        display:block;
        text-align: right;
        margin:0 7%;
    }

    
    #ddmenu li {
        text-align:left;
        width:50%; /*or 33%*/
        border-bottom: 1px dotted #6677AA;  
    }
    #ddmenu li.hide1 {display:none;}/*hide elements that is not needed in this layout*/
    
    #ddmenu a {
        padding:0 50px;
    }    
}

/* Infinite scroll code */
.infinite-spinner {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

