---
layout: default
---

<span itemscope itemtype="http://schema.org/BlogPosting">
	<h2 itemprop="name">{{ page.title }}
	  		by <span itemprop="author">Author</span>
	</h2>
	<p class="meta">{{ page.date | date_to_string }}</p>
	<div  class="post">
		<span itemprop="articleSection">{{ page.categories | array_to_sentence_string }}</span>
		
		<span itemprop="articleBody">{{ content }}</span>

		<span itemprop="keywords">{{ page.tags | array_to_sentence_string }}</span>

		<span itemprop="wordCount">{{ page.content | number_of_words }}</span>
	</div> 
</span>