---
layout: default
title: category
---

{% assign author = site.authors[page.author] %}
<article itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h2 itemprop="name">{{ page.title }}
	  			by <span itemprop="author">{{ author.display_name }}</span>
		</h2>
		<span class="no-display" itemprop="dateCreated">{{ page.date }}</span>
		<p>
			<span class="meta day">{{ page.date | date: "%d" }}</span>
			<span class="meta month">{{ page.date | date: "%B" }}</span>
			<span class="meta year">{{ page.date | date: "%Y" }}</span>
		</p> 
	</header>
    <section>
        <div  class="post">
            <div itemprop="articleSection">
                Category print example: <br/>
                {% for category in page.categories %}
                    <a href="{{site.cat_folder}}{{category}}.html">{{category}}</a>
                {% endfor %}
            </div>
            <div itemprop="articleBody">			
                {{ content }}
            </div>

            <div itemprop="keywords">
                Tags print example: <br/>
                {{ page.tags | array_to_sentence_string }}
            </div>

            <div itemprop="wordCount">
                Num of words print example: <br/>
                {{ page.content | number_of_words }}
            </div>
        </div> 
    </section>
</article>
