---
layout: default
title: category
---

{% assign author = site.authors[page.author] %}
<article itemscope itemtype="http://schema.org/BlogPosting" class="single row gutters">
	<header>
		<h2 itemprop="name">{{ page.title }}
	  			by <span itemprop="author">{{ author.display_name }}</span>
		</h2>
		<span class="no-display" itemprop="dateCreated">{{ page.date }}</span>
		<p>
			<span class="meta day">{{ page.date | date: "%d" }}</span>
			<span class="meta month">{{ page.date | date: "%B" }}</span>
			<span class="meta year">{{ page.date | date: "%Y" }}</span>
		</p>
        <span class="no-display" itemprop="typicalAgeRange">{{ page.typical_age_range }}</span>
        <span class="no-display" itemprop="timeRequired">{{ page.time_required }}</span>
        <p itemprop="timeRequired">Time required: {{ page.time_required | replace: 'P','' | replace: 'M',' minutes' }} </p>
	</header>
    <section>
        <div class="post">
            <div itemprop="articleBody">			
                {{ content }}
            </div>
            <div itemprop="articleSection">
                Categories:
                {% for category in page.categories %}
                    <a href="{{ site.cat_folder }}{{ category | replace: ' ','-' }}.html">{{category}}</a>
                {% endfor %}
            </div>
            <div itemprop="keywords">
                Tags:
                {% for tag in page.tags %}
                    <a href="{{ site.tag_folder }}{{ tag | replace: ' ','-'  }}.html">{{tag}}</a>
                {% endfor %}
            </div>
            <div itemprop="wordCount">
                Num of words print example: <br/>
                {{ page.content | number_of_words }}
            </div>
            <div class="related">
                Related posts:
                {% for related in site.related_posts %}
                    <a href="{{ related.url }}">{{related.title}}</a>
                {% endfor %}
            </div>
        </div> 
    </section>
</article>
