---
layout: default
---

<ul itemscope itemtype="http://schema.org/BlogPosting">
	{% for post in page["tag"] %}		
		<li>
			<span class="no-display" itemprop="dateCreated">{{ page.date }}</span>
			<span class="meta day">{{ post.date | date: "%d" }}</span>
			<span class="meta month">{{ post.date | date: "%B" }}</span>
			<span class="meta year">{{ post.date | date: "%Y" }}</span>
			&raquo; 
			<a href="{{ post.url }}" itemprop="url">
				<span itemprop="name">{{ post.title }}</span>
			</a>
			<span class="no-display" itemprop="wordCount">{{ page.content | number_of_words }}</span>
		</li>
	{% endfor %}
</ul>
